.Post{
    text-align: center;
    /* padding: 10px;
    margin-left: 150px; */

    
}


.btn{
    top: 45px;
    margin-top: 250px!important;
}


.well{
    height: auto;
  width: 100%;
  background:lightyellow;
  padding: 10px;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
}


.popup {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
  
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .popup {
        width: 500px;
        left: calc(50% - 250px);
    }
}

/* .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  } */